<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\deskCDB.db;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
      <setting name="nameService" serializeAs="String">
        <value>DeskCService</value>
      </setting>
  </appSettings>
</configuration>